// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:'Poppins',
sans-serif;
$body-font:'Poppins',
sans-serif;
$extra-color:#e8eefb;
$primary-color:#007BFF;
$secondary-color:#f7f7f7;