---
import Section from "../Section.astro";
---

<Section id="about" cssClass="flex items-center">
  <div
    class="leading-normal lg:w-3/4 mx-auto text-3xl text-center flex flex-col gap-16"
  >
    <p>
      3+ years of professional experience designing &amp; developing&nbsp;
      <span class="font-bold inline-block">websites</span>,&nbsp;
      <span class="font-bold inline-block">web applications</span>{" "}
      and&nbsp;
      <span class="font-bold inline-block">mobile apps</span>.
    </p>
    <p>
      I've been working with&nbsp;
      <span class="gradient-text react font-bold">React</span>
      &nbsp;and&nbsp;
      <span class="gradient-text angular font-bold">Angular</span>, crafting
      amazing applications mostly in the ed-tech and healthcare fields.
    </p>
    <p>
      Currently, I'm into hybrid apps with{" "}
      <span class="font-bold">Ionic</span> as well.
    </p>
  </div>
</Section>
