---
import Section from "../Section.astro";
---

<section id="about">
  <div class="background">
    <div class="background-overlay py-32">
      <div class="max-w-4xl mx-auto text-3xl text-center flex flex-col gap-16">
        <p>
          4+ years of professional experience designing &amp; developing
          <span class="font-bold inline">websites</span>,
          <span class="font-bold inline">web applications</span>{" "}
          and
          <span class="font-bold inline">mobile apps</span>.
        </p>

        <p>
          I've been working with <span class="font-medium">HTML5</span>, <span
            class="font-medium"
          >
            CSS3
          </span>, <span class="font-medium">JavaScript</span> and frameworks like
          <span class="font-medium inline">
            <img
              src="/images/icons/sm/react-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> React
          </span>
          and
          <span class="font-medium inline">
            <img
              src="/images/icons/sm/angular-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Angular
          </span>, crafting amazing applications used by thousands in the
          ed-tech and healthcare industries.
        </p>
        <p>
          My design background gives me an eye for detail, while my full-stack
          knowledge fueled by passion helps me build robust, scalable web
          applications using JAMstack, serverless, and headless CMS solutions.
        </p>
        <p>
          Usually, <span class="font-medium inline">
            <img
              src="/images/icons/sm/docker-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Docker
          </span> spins up all the services I need to develop, test, and deploy my
          applications.
        </p>
        <p>
          During the past couple of years, I've been diving into
          <span class="font-bold">mobile development</span> as well, working with
          <span class="font-medium inline">
            <img
              src="/images/icons/sm/ionic-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Ionic
          </span> to expand my skill set into the mobile space &mdash; also exploring
          what <span class="font-medium inline">
            <img
              src="/images/icons/sm/kotlin-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Kotlin
          </span> and <span class="font-medium inline">
            <img
              src="/images/icons/sm/swift-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Swift
          </span> had to offer for native and portable experiences.
        </p>
      </div>
    </div>
  </div>
</section>
