---

---

<section id="about">
  <div class="background">
    <div class="background-overlay py-24">
      <div
        class="max-w-5xl px-2 mx-auto text-2xl text-center flex flex-col gap-16"
      >
        <p>
          With 4+ years of experience in designing and developing <span
            class="font-bold inline"
          >
            websites
          </span>,
          <span class="font-bold inline">web applications</span>{" "}
          and
          <span class="font-bold inline">mobile apps</span>, I've built
          intuitive and scalable solutions for thousands of users across the
          ed-tech and healthcare industries.
        </p>

        <p>
          I specialize in <span class="font-medium">HTML5</span>, <span
            class="font-medium"
          >
            CSS3
          </span>, <span class="font-medium">JavaScript</span> and frameworks like
          <span class="font-medium inline">
            <img
              src="/images/icons/sm/react-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> React
          </span>
          and
          <span class="font-medium inline">
            <img
              src="/images/icons/sm/angular-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Angular
          </span>. My design background gives me a sharp eye for detail, while
          my passion for full-stack development allows me to create robust web
          applications using JAMstack, serverless architectures, and headless
          CMS solution
        </p>

        <p>
          Usually, <span class="font-medium inline">
            <img
              src="/images/icons/sm/docker-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Docker
          </span> powers my development environment, spinning up services to test,
          deploy, and manage applications efficiently.
        </p>
        <p>
          Recently, I've expanded into
          <span class="font-bold">mobile development</span> as well, using <span
            class="font-medium inline"
          >
            <img
              src="/images/icons/sm/ionic-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Ionic
          </span> while also exploring <span class="font-medium inline">
            <img
              src="/images/icons/sm/kotlin-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Kotlin
          </span> and <span class="font-medium inline">
            <img
              src="/images/icons/sm/swift-sm.png"
              class="inline w-8 mb-1"
              alt=""
            /> Swift
          </span> for native and portable experiences.
        </p>
      </div>
    </div>
  </div>
</section>
