---
import Icon from "../Icon.astro";
import Form from "./Form.astro";
---

<section id="contact" class="py-24">
  <h2 class="container font-secondary mb-16 text-5xl text-center">Contacts</h2>

  <div class="container flex flex-col lg:flex-row gap-8">
    <div class="lg:w-1/2">
      <Form />
    </div>

    <div>
      <div class="flex items-center gap-4 p-2">
        <Icon icon="LocationIcon" />
        <div>San Benedetto del Tronto, Italy</div>
      </div>

      <div class="flex items-center gap-4 p-2">
        <Icon icon="LinkedinIcon" />
        <div>gianluigitrontini@gmail.com</div>
      </div>

      <span class="block font-medium text-center lg:text-left mx-auto my-4">
        Find more on
      </span>

      <div class="flex gap-4 justify-center lg:justify-start">
        <a href="https://github.com/gianluigitrontini">
          <button class="flex items-center gap-2 border-2 border-black p-2">
            <Icon icon="GithubIcon" />
            <div>Github</div>
          </button>
        </a>

        <a href="https://www.linkedin.com/in/gianluigi-trontini-9b5a0b103/">
          <button class="flex items-center gap-2 border-2 border-black p-2">
            <Icon icon="LinkedinIcon" />
            <div>Linkedin</div>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
