---

---

<form
  action="https://formspree.io/f/xzbbqvry"
  method="POST"
  id="contact_form"
  class="gap-4"
>
  <div class="form--row flex flex-col lg:flex-row gap-8">
    <div class="input--group">
      <label for="contact_name">Name</label>
      <input
        id="contact_name"
        type="text"
        name="Name"
        placeholder="Your Name (optional)"
      />
    </div>
    <div class="input--group">
      <label for="contact_email">Email</label>
      <input
        id="contact_email"
        type="email"
        required
        name="Email"
        placeholder="Your Email"
      />
    </div>
  </div>
  <div class="form--row">
    <div class="input--group">
      <label for="contact_message">Message</label>
      <textarea
        id="contact_message"
        name="Message"
        placeholder="Your Message"
        required
      >
      </textarea>
    </div>
  </div>
  <small class="text-left">
    * when clicking the send button you will be redirected to a 3rd party email
    service.
  </small>
  <button
    type="submit"
    id="contact_send"
    class="send-button bg-black py-2 px-4 text-white"
  >
    Send →
  </button>
</form>
