---
import Section from "../Section.astro";
---

<Section id="hero" cssClass="h-[75vh]">
  <h1>
    Hi, I'm&nbsp;
    <span class="relative my_name">
      Gianluigi&nbsp;
      <img
        class="profile-picture"
        src="/images/profileImage.jpg"
        alt="The Designer and Developer"
      />
    </span>
    &mdash; a&nbsp;
    <span class="code">
      <small class="font-bold">&lt;&nbsp;</small>
      Frontend Developer
      <small class="font-bold">&nbsp;/&gt;</small>
    </span>
    &nbsp;that cares about usability.
  </h1>
</Section>
