---

---

<section
  id="hero"
  class="container !max-w-4xl mt-12 min-h-[75vh] flex flex-col mx-auto text-3xl lg:text-5xl"
>
  <h1 class="headline">
    Hi, I'm&nbsp;
    <span class="relative my_name">
      Gianluigi&nbsp;
      <img
        class="profile-picture"
        src="/images/profileImage.jpg"
        alt="The Designer and Developer"
      />
    </span>
    &mdash; a&nbsp;
    <span class="code block md:inline-block">
      <small class="font-bold">&lt;&nbsp;</small>
      Frontend Developer
      <small class="font-bold">&nbsp;/&gt;</small>
    </span>
    &nbsp;crafting intuitive, user-centered experiences.
  </h1>

  <div>
    <h3 class="text-xl lg:text-2xl my-8">
      With a foundation in design and expertise in modern front-end
      technologies, I build user-friendly interfaces that are both visually
      striking and highly functional.
    </h3>
  </div>
</section>
