@font-face {
  font-family: "SequelSansHeadline";
  src: url("/fonts/SequelSansHeadlineRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SequelSansHeadline";
  src: url("/fonts/SequelSansHeadlineRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SequelSansHeadline";
  src: url("/fonts/SequelSansHeadlineMedium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SequelSansHeadline";
  src: url("/fonts/SequelSansHeadlineSemi.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SharpGroteskBook20";
  src: url("/fonts/SharpGroteskBook20.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SharpGroteskBook20";
  src: url("/fonts/SharpGroteskBook20.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Recoleta-400";
  src: url("/fonts/Recoleta-400.woff2") format("woff2");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  --bg-color: #f1f0e9;

  font-family:
    "SequelSansHeadline",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-primary {
  font-family: "SequelSansHeadline", sans-serif !important;
}

.font-secondary {
  font-family: "Recoleta-400", sans-serif !important;
}

body {
  background-color: #f1f0e9;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  height: auto;
  position: relative;
}

img {
  max-width: 100%;
}

.container {
  @apply px-4 mx-auto;
  width: 100%;
  max-width: 1460px;
}

.container.sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;

  @screen lg {
    @apply px-12;
  }
}

footer {
  background-color: white;
  font-size: 0.85rem;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .footer-left {
      > span {
        display: block;
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    span {
      &.privacy-policy--btn {
        cursor: pointer;
        color: rgb(128, 128, 128);
        text-decoration: underline;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.title-overlay {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(128, 128, 128);
  text-align: center;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.text-xs {
  font-size: 0.75rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}

button {
  @apply outline-none;
}
.btn {
  @apply bg-black border-2 border-black py-2 px-4 text-white;
}
.btn.btn-outline {
  @apply bg-white border-2 border-black py-2 px-4 text-black;
  &:hover {
    @apply bg-black border-white text-white;
  }
}

span.bold {
  font-weight: 600;
}

.technologies {
  img {
    // max-width: 60px;
    transition: all 0.3s ease-in-out;
    filter: grayscale(1);
    opacity: 0.5;
    &:hover {
      filter: none;
      transform: scale(1.1);
    }
  }
}

.line-gradient {
  @apply w-full;
  height: 0.1rem;
  // background: linear-gradient(90deg, #19ffc4, #7e19ff, #ff196e, #0eafff);
  background: linear-gradient(45deg, #19ffc4, #7e19ff);
}

.previous-next-gradient {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #f9fafb 20%
  );
  @screen lg {
    @apply bg-gray-50;
  }
}
.close-animation-wrapper {
  transition: color 0.5s ease;
  transition-delay: 0.25s;
}
.close-animation-wrapper:hover .close-animation {
  animation: close-gradient 0.75s ease-in-out;
}
.close-animation {
  @apply w-2 h-2 rounded-full;
  background: linear-gradient(45deg, #19ffc4, #7e19ff);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  content: "";
}

@keyframes close-gradient {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}
