.section-title {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  @media (max-width: 768px) {
    margin-left: 0;
  }
  &:before {
    position: absolute;
    font-size: 5rem;
    color: rgb(245, 245, 245);
    top: -50%;
    z-index: -1;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .profile-picture {
    border-radius: 2px;
    max-width: 200px;
    margin-right: 1.5rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    opacity: 0.2;
    position: absolute;
    left: -1rem;
    top: 0;
    transform: translateY(-35%);
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }

  .headline {
    line-height: 1.3;

    span.code {
      font-weight: 600;
    }

    small {
      background: linear-gradient(90deg, #19ffc4, #7e19ff, #ff196e, #0eafff);
      background-size: 800% 800%;
      -webkit-animation: gradient 10s ease-in-out infinite;
      -moz-animation: gradient 10s ease-in-out infinite;
      animation: gradient 10s ease-in-out infinite;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent !important;
      font-weight: 800 !important;
    }
  }
}

#about {
  .background {
    background-image: url("/images/about-background.jpg");
    background-size: cover;
    background-position: bottom right;
  }
  .background-overlay {
    background: linear-gradient(to bottom, #f1f0e9 20%, transparent 80%),
      linear-gradient(to top, #f1f0e9 20%, transparent 80%);
  }
}
