---
import PdfGenerator from "../../components/PdfGenerator.astro";
import HeaderLayout from "../../layouts/HeaderLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <HeaderLayout>
    <PdfGenerator isPage={true} />
  </HeaderLayout>
</MainLayout>

<div id="pdfContainer" class="mx-auto w-[100vw]"></div>

<style is:global>
  iframe {
    width: 100vw;
    height: calc(100vh - 80px);
  }
</style>
