@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  height: auto;
  position: relative;
}

body #bg {
  height: auto;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body #bg {
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  body #bg {
    height: 100vh;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

img {
  max-width: 100%;
}

#hero {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 2.25rem;
  }
}

#hero h1 span {
  font-weight: 600;
}

#hero h1 .code {
  white-space: nowrap;
}

#hero h1 small {
  background: -webkit-gradient(linear, left top, right top, from(#19ffc4), color-stop(#7e19ff), color-stop(#ff196e), to(#0eafff));
  background: linear-gradient(90deg, #19ffc4, #7e19ff, #ff196e, #0eafff);
  background-size: 800% 800%;
  -webkit-animation: gradient 10s ease-in-out infinite;
  animation: gradient 10s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  font-weight: 800 !important;
}

#hero .subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #5a5a5a;
}

section {
  margin-bottom: 4rem;
}

section .title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  margin: 2rem 0;
  z-index: 2;
  line-height: 1.2;
  margin-left: -1rem;
}

@media (max-width: 768px) {
  section .title {
    margin-left: 0;
  }
}

section .title::before {
  position: absolute;
  font-size: 5rem;
  color: whitesmoke;
  top: -50%;
  z-index: -1;
}

#about {
  position: relative;
}

#about .profile-picture {
  border-radius: 2px;
  max-width: 200px;
  margin-right: 1.5rem;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  opacity: 0.2;
  position: absolute;
  left: 4rem;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

#about .profile-picture:hover {
  opacity: 1;
}

#about p {
  max-width: 75%;
  font-size: 1.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media (min-width: 1024px) {
  #about p {
    font-size: 2rem;
  }
}

#about p:nth-child(even) {
  margin-right: auto;
}

#about p:nth-child(odd) {
  margin-left: auto;
}

#about p span.block {
  margin-top: 0.5rem;
}

#about span.gradient-text {
  color: transparent !important;
  font-weight: 800 !important;
}

#about span.gradient-text.react {
  background: linear-gradient(135deg, #38a5c4, #61dafb);
  background-clip: text;
  -webkit-background-clip: text;
}

#about span.gradient-text.symfony {
  background: linear-gradient(135deg, #bacf29, #71b236);
  background-clip: text;
  -webkit-background-clip: text;
}

#about .title::before {
  content: 'About';
}

#contact .title::before {
  content: 'Contact Me';
}

#projects .title::before {
  content: 'Projects';
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 577px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

footer {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  padding: 1rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer-left > span {
  display: block;
}

@media (max-width: 768px) {
  footer .container .footer-left {
    text-align: center;
  }
}

footer .container span.privacy-policy--btn {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

select {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  padding-left: 0;
  color: #666666;
}

select:focus {
  outline: none;
}

.title-overlay {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: gray;
  text-align: center;
}

#logos {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #logos {
    margin-bottom: 3rem;
  }
}

#logos .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#logos .logo-container .brand-logos {
  margin: 2rem 0;
  max-width: 175px;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  #logos .logo-container .brand-logos {
    max-width: 100px;
  }
}

#logos .logo-container .brand-logos:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.text-xs {
  font-size: 0.75rem;
}

.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}

.shuffle-wrapper {
  overflow: visible !important;
}

.shuffle-item {
  width: 48%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.shuffle-item a,
.shuffle-item a:hover {
  text-decoration: none !important;
}

.shuffle-item .shuffle--info-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35%, rgba(0, 0, 0, 0.5)), color-stop(55%, rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.7) 55%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.shuffle-item .shuffle--info-overlay h3 {
  color: white;
  font-weight: 500;
  display: block;
  margin-top: auto;
  font-size: 1.4rem;
}

.shuffle-item .shuffle--info-overlay p {
  font-family: 'Open Sans';
  color: white;
  font-size: 0.875rem;
}

@media (min-width: 1024px) {
  .shuffle-item .shuffle--info-overlay h3 {
    font-size: 2rem;
  }
  .shuffle-item .shuffle--info-overlay p {
    font-size: 1.25rem;
  }
}

.shuffle-item:hover .shuffle--info-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 20;
}

.shuffle-item:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 10;
}

@media (max-width: 768px) {
  .shuffle-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .shuffle-item:nth-child(odd) {
    margin-right: 1rem;
  }
  .shuffle-item:nth-child(even) {
    margin-left: 1rem;
  }
}

.shuffle-item img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: -8px;
}

a:hover {
  text-decoration: underline !important;
}

button {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-decoration: underline !important;
}

.modal-background {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 99;
}

.modal-background.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-background .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  min-width: 450px;
  height: 60%;
}

@media (max-width: 768px) {
  .modal-background .modal {
    height: 80%;
    min-width: 95%;
    width: 95%;
  }
}

.modal-background .modal .modal-content {
  height: 87%;
  overflow-y: auto;
  padding: 1rem;
}

.modal-background .modal .modal-footer {
  margin-top: auto;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-background .modal .modal-footer button {
  background-color: #38a7ca;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.modal-background .modal .modal-footer button:hover {
  text-decoration: none !important;
}

.project_pill-container {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .project_pill-container {
    margin-top: 0.5rem;
  }
}

span.pill {
  margin-top: 0.3rem;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  width: auto;
  font-size: 0.7rem;
  background-color: #ff006a;
  padding: 0.2rem 0.75rem;
  border-radius: 50px;
}

@media (max-width: 768px) {
  span.pill {
    font-size: 0.55rem;
  }
}

span.bold {
  font-weight: 600;
}

.technologies img {
  max-width: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}

.technologies img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.technologies div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(90px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  justify-items: center;
  row-gap: 2rem;
}

.privacy-policy--container {
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.privacy-policy--container p {
  margin: 1rem 0;
}

.privacy-policy--container span {
  margin: 1rem 0;
  font-size: 1.15rem;
}

.privacy-policy--container ul {
  margin-left: 2rem;
}

/* Start Hamburger Toggle */
#hamburger-toggle {
  outline: none;
  border: none;
  background-color: white;
  display: none;
}

#hamburger-toggle .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-toggle .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #2e2e2e;
}

#hamburger-toggle .animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-toggle .animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-toggle .animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-toggle .animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

#hamburger-toggle .animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-toggle .animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .container .logo-box {
  max-width: 130px;
  position: relative;
}

header .container .logo-box .logo {
  z-index: 2;
  max-width: 100%;
}

header .container .nav--desktop {
  display: block;
}

header .container .nav--desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav--desktop ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

header .container .nav--desktop ul li:last-child {
  padding-right: 0;
}

header .container .nav--desktop ul li a {
  font-size: 0.85rem;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  text-transform: uppercase;
  cursor: pointer;
}

header .container nav ul li a:hover {
  color: #141414;
}

header .container .mobile-menu--container {
  display: none;
}

.hamburger-fixed-mobile {
  position: fixed;
  right: 1rem;
  top: 3.1rem;
}

@media (max-width: 768px) {
  #hamburger-toggle {
    display: block;
    z-index: 16;
    background-color: transparent;
  }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .nav--desktop {
    display: none;
  }
  header .container .nav--desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .mobile-menu--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    background: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  header .container .mobile-menu--container.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .container .mobile-menu--container .nav--mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .mobile-menu--container .nav--mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .mobile-menu--container .nav--mobile ul li {
    font-size: 2rem;
    margin: 1rem 0;
  }
  header .container .mobile-menu--container .nav--mobile ul li:last-child {
    border-top: 1px solid gray;
    padding-top: 1rem;
    width: 250px;
  }
  .mobile--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.container--language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li:last-child img {
  max-width: 20px;
  display: inline;
  border-radius: 3px;
}

#contact {
  min-height: 60vh;
}

#contact .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .flex-wrapper .contact--form-box {
  margin: 0 1rem;
  width: 55%;
  padding: 1.5rem;
  border-radius: 15px;
}

#contact .flex-wrapper .contact--form-box:first-child {
  margin-left: 0;
}

#contact .flex-wrapper .contact--form-box:last-child {
  margin-right: 0;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form .form--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.75rem 0;
}

#contact form .form--row > div {
  margin: 0 1rem;
}

#contact form .form--row > div:first-child {
  margin-left: 0;
}

#contact form .form--row > div:last-child {
  margin-right: 0;
}

#contact form .input--group,
#contact form .input--group input,
#contact form .input--group textarea {
  width: 100%;
  position: relative;
}

#contact form label {
  display: inline-block;
  padding: 0 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  background-color: white;
  top: 0.75rem;
  left: 0.5rem;
  position: relative;
  z-index: 9;
  color: #5a5a5a;
}

#contact form input {
  display: block;
  font-family: 'Poppins', sans-serif;
}

#contact textarea {
  position: relative;
  height: 120px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}

#contact input,
#contact textarea {
  border-radius: 5px;
  border: 1px solid #7d7d7d;
  padding: 0.5rem 0.75rem;
  padding-top: 1rem;
}

#contact button {
  display: inline-block;
  margin: 0.75rem 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.25rem;
  margin-left: auto;
  cursor: pointer;
}

.contact--details {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle {
  margin-top: 2rem;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.block--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block--icon p {
  font-size: 1.2rem;
}

svg {
  margin: 1rem 0;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

.block--social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.block--social a {
  text-decoration: none;
  color: black;
}

.block--social svg {
  width: 15px;
  height: 15px;
}

@media (max-width: 768px) {
  .block--social svg {
    margin-right: 0.5rem !important;
    width: 30px;
    height: 30px;
  }
}

.social--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #contact .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .flex-wrapper .contact--form-box {
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  #contact .flex-wrapper .contact--form-box,
  #contact .flex-wrapper .contact--details {
    width: 100%;
  }
  #contact .contact--details .social--container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact .contact--details .block--icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .contact--details .subtitle {
    text-align: center;
  }
  #contact .contact--details svg {
    margin-right: 0;
  }
  #contact .contact--details .block--social p {
    display: none;
  }
}

#projects .shuffle_pills-container {
  margin: 2rem 0;
}

#projects .shuffle_pills-container .pill {
  color: black;
  border-radius: 10rem;
  padding: 0.15rem 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 1rem;
}

#projects .shuffle_pills-container .pill:first-of-type {
  margin-left: 0;
}

#projects .shuffle_pills-container .pill:last-of-type {
  margin-right: 0;
}

#projects .shuffle_pills-container input {
  display: none;
}

#projects .shuffle_pills-container input:checked + .pill {
  background-color: #27a5d6;
  color: white;
}

#projects .select-container {
  text-align: center;
}

#projects .select-container select {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
}

#projects .select-container select:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */