<footer>
  <div class="container">
    <div class="text-center w-full">
      <span>
        © 2019 &mdash; {new Date().getFullYear()} Gianluigi Trontini. All rights
        reserved to their respective owners.
      </span>
    </div>
  </div>
</footer>
