---
const navigation = [
  {
    name: "About",
  },
  {
    name: "Projects",
  },
  {
    name: "Contact",
  },
];
---

<header class="sticky top-0 z-50 backdrop-blur-md">
  <div class="max-w-5xl mx-auto px-2">
    <div class="flex items-center justify-between w-full">
      <div class="logo-box">
        <img class="w-24" src="/images/animated-logo.gif" alt="" />
      </div>

      <nav class="hidden md:block">
        <ul class="flex items-center gap-8">
          {
            navigation.map((nav) => (
              <li>
                <a href={"#" + nav.name.toLowerCase()}>
                  <button>{nav.name}</button>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="md:hidden">
        <button class="btn-toggle-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width={2}
              d="M4 6h16M4 12h16M4 18h16"
            >
            </path>
          </svg>
        </button>

        <div
          id="menu"
          class="fixed h-screen inset-0 flex-col items-center justify-center bg-white z-50 hidden"
        >
          <nav>
            <ul class="flex flex-col gap-8 text-center text-4xl">
              {
                navigation.map((nav) => (
                  <li>
                    <a
                      href={"#" + nav.name.toLowerCase()}
                      class="btn-toggle-menu"
                    >
                      <button>{nav.name}</button>
                    </a>
                  </li>
                ))
              }

              <li class="border-t-2 border-gray-500">
                <button class="btn-toggle-menu btn btn-outline text-2xl mt-8">
                  Close
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const body = document.querySelector("body");

  let isHamburgerOpen = false;

  function handleToggleMenuClick() {
    isHamburgerOpen = !isHamburgerOpen;

    if (isHamburgerOpen) {
      body?.classList.add("overflow-y-hidden");
      document?.getElementById("menu")?.classList.add("!flex");
    } else {
      body?.classList.remove("overflow-y-hidden");
      document?.getElementById("menu")?.classList.remove("!flex");
    }
  }

  for (let btn of document?.getElementsByClassName("btn-toggle-menu")) {
    btn?.addEventListener("click", handleToggleMenuClick);
  }
</script>
