---
type SectionProps = {
  id: string;
  className?: string;
  title?: string;
  isSecondary?: boolean;
};

const { id, cssClass = "", title = null, isSecondary = null } = Astro.props;
---

<section id={id} class={` ${cssClass ? cssClass : ""}`}>
  <h2 class="container font-secondary my-4 mb-16 text-5xl">{title}</h2>

  <slot />
</section>
