---
import { getCollection } from "astro:content";
import Project from "../Projects/Project.astro";
const progetti = await getCollection("progetti");

export interface ProjectInterface {
  name: string;
  slug: string;
  repoName: string;
  description: string;
  image: any;
  logo?: any;
  status: string;
  linkToProject: string;
  hasCoverImage: boolean;
  hidden: boolean;
}
---

<section id="projects" class="py-12">
  <h2 class="container font-secondary mb-20 text-5xl text-center">Projects</h2>

  <div class="container projects--wrapper">
    {
      progetti.map(
        (progetto) =>
          progetto.data.hidden == false && (
            <a href={`progetti/${progetto.slug}`}>
              <Project project={progetto.data} />
            </a>
          )
      )
    }
  </div>
</section>
