---
import { getCollection } from "astro:content";
import Section from "../../Section.astro";
// import { projects } from "../../../assets/data";
const progetti = await getCollection("progetti");
import Project from "../Projects/Project.astro";

console.log(progetti);

export interface ProjectInterface {
  name: string;
  slug: string;
  repoName: string;
  description: string;
  image: any;
  logo?: any;
  status: string;
  linkToProject: string;
  hasCoverImage: boolean;
  hidden: boolean;
}
---

<section id="projects">
  <h2 class="container font-secondary my-4 mb-16 text-5xl">Projects</h2>

  <div class="container projects--wrapper">
    {
      progetti.map(
        (progetto, i) =>
          progetto.data.hidden == false && (
            <a href={`progetti/${progetto.slug}`}>
              <Project project={progetto.data} />
            </a>
          )
      )
    }
  </div>
</section>
