@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'Graphik Regular';
  src: url('./fonts/Graphik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik Light';
  src: url('./fonts/Graphik-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('./fonts/Graphik-Medium.woff2') format('woff2');
}
.font-body {
  font-family: 'Graphik Regular', sans-serif;
}
.font-bold {
  font-family: 'Graphik Medium', sans-serif !important;
  font-weight: initial;
}
.font-light {
  font-family: 'Graphik Light', sans-serif !important;
  font-weight: initial;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Graphik Regular', 'Rubik', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  height: auto;
  position: relative;
  #bg {
    height: auto;
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 768px) {
      height: 70vh;
    }
    @media (min-width: 1200px) {
      height: 100vh;
      object-position: bottom;
    }
  }
}

img {
  max-width: 100%;
}

section {
  @apply py-16;
}

section .title {
  @apply mb-24;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  @media (max-width: 768px) {
    margin-left: 0;
  }
  &:before {
    position: absolute;
    font-size: 5rem;
    color: rgb(245, 245, 245);
    top: -50%;
    z-index: -1;
  }
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
}
.container.sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;

  @screen lg {
    @apply px-12;
  }
}

footer {
  background-color: white;
  font-size: 0.85rem;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .footer-left {
      > span {
        display: block;
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    span {
      &.privacy-policy--btn {
        cursor: pointer;
        color: rgb(128, 128, 128);
        text-decoration: underline;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.title-overlay {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(128, 128, 128);
  text-align: center;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.text-xs {
  font-size: 0.75rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}

button {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    text-decoration: underline !important;
  }
}
.button {
  @apply bg-black border-2 border-black py-4 px-6 text-white;
}
.button.btn-outline {
  @apply bg-white border-2 border-black py-4 px-6 text-black;
}

span.bold {
  font-weight: 600;
}
.technologies {
  @apply grid grid-cols-4 lg:grid-cols-8 justify-items-center items-center gap-4;
  img {
    max-width: 60px;
    transition: all 0.3s ease-in-out;
    filter: grayscale(1);
    opacity: 0.5;
    &:hover {
      filter: none;

      transform: scale(1.1);
    }
  }
}

.line-gradient {
  @apply w-full;
  height: 0.1rem;
  // background: linear-gradient(90deg, #19ffc4, #7e19ff, #ff196e, #0eafff);
  background: linear-gradient(45deg, #19ffc4, #7e19ff);
}

.previous-next-gradient {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #f9fafb 20%
  );
  @screen lg {
    @apply bg-gray-50;
  }
}
.close-animation-wrapper {
  transition: color 0.5s ease;
  transition-delay: 0.25s;
}
.close-animation-wrapper:hover .close-animation {
  animation: close-gradient 0.75s ease-in-out;
}
.close-animation {
  @apply w-2 h-2 rounded-full;
  background: linear-gradient(45deg, #19ffc4, #7e19ff);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  content: '';
}

@keyframes close-gradient {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}
