---
import { Tooltips } from "astro-tooltips";
import "../styles/styles.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />

    <Tooltips
      interactive={false}
      delay={[15, 15]}
      placement="bottom"
      arrow={false}
    />

    <title>Gianluigi Trontini | Frontend Developer</title>
    <!-- description -->
    <meta
      name="description"
      content="Gianluigi Trontini is a frontend developer based in Italy. He loves to create beautiful and performant websites in several modern technologies like Angular, React, Ionic, Next, React Native, Kotlin, Swift. He is also a fan of TailwindCSS and SCSS. But not just Frontend! He also backing up his and others' projects with JAMstack and serverless technologies."
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "SequelSansHeadline";
    src: url("/fonts/SequelSansHeadlineRegular.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "SequelSansHeadline";
    src: url("/fonts/SequelSansHeadlineRegularItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "SequelSansHeadline";
    src: url("/fonts/SequelSansHeadlineMedium.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: "SequelSansHeadline";
    src: url("/fonts/SequelSansHeadlineSemi.woff2") format("woff2");
    font-weight: 700;
  }

  @font-face {
    font-family: "SharpGroteskBook20";
    src: url("/fonts/SharpGroteskBook20.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "SharpGroteskBook20";
    src: url("/fonts/SharpGroteskBook20.woff2") format("woff2");
    font-weight: 500;
  }
</style>
